* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header-container {
    padding: 20px;
    background-color: rgb(173, 216, 230);
    min-height: 60px;
}

.row {
    width: 80%;
    margin: auto;    
    display: flex;
    justify-content: space-around;
    
}

.row [class^=col] {
    background-color: orange;
    border: 2px dashed black;
    padding: 10px;    
    font-size: 24px;
    
}

.col-3 {
    flex-basis: calc(100% /2);
}
.col-6 {
    flex-basis: calc(100% /1);   
       
}

.link {
    text-align: center;
}

.login {
    text-align: end;
}

/* main */

.blue-section {
    background-color: #00008B;
    min-height: 420px;
    display: flex;
    justify-content: center;
}

.unique {
    margin: auto;    
    display: flex;
    justify-content: center;    
}

.blue-section-col {
    background-color: #EE82EE;
    border: 2px dashed black;
    width: 800px; 
    min-height: 350px;
}

.white-section {
    background-color: white;
    min-height: 420px;
    display: flex;
    justify-content: center;
}

.white-section-row {
    width: 1240px;
}

.white-section-col {
    border: 2px dashed black;    
    min-height: 350px;

} 

.col-8 {
    flex-basis: calc((100% * 8) /12);
}

.col-4 {
    flex-basis: calc((100% * 4) /12);
}

.col-8 {
    background-color: #1E90FF;
}

.col-4 {
    background-color: #FFC0CB;
}

.grey-section-row {
    width: 1240px;
}

.grey-section-col {
    border: 2px dashed black;    
    min-height: 350px;

} 

.grey-section {
    background-color: lightgrey;
    min-height: 420px;
    display: flex;
    justify-content: center;
}

.big-grey-section {
    background-color: lightgray;
    min-height: 840px; 
    display: flex;
    justify-content: center; 
}

.big-grey-row {
    width: 1240px;
}

.col {
    flex-basis: calc(100%);
}

.big-grey-section-col {
    background-color: chartreuse;
    border: 2px dashed black;    
    min-height: 700px;
}

.dark-section {
    background-color: grey;
    min-height: 420px;
    display: flex;
    justify-content: center;

}

.dark-row {    
    width: 1240px;
}

.dark-col-4 {
    background-color:#F08080;
    border: 2px dashed black;     
    min-height: 350px;
    
}

.dark-col-2 {
    background-color: #20B2AA;
    border: 2px dashed white;
    min-height: 350px;
    
}

.col-2 {
    flex-basis: calc((100% * 2) /12);
}

.footer-container {
    background-color: gray;
    min-height: 90px;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    padding: 10px;    
}

.footer-row {
    display: flex;  
    background-color: aqua;
    width: 1240px;
    justify-content: space-between;
    margin: auto;
    padding: 10px;      
}

.rose {
    background-color: rosybrown;
    border: 1px dashed black;
}













